.cabecalho {

}
.cabecalho__navegacao {

}
.navegacao__lista__links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background: var(--cor-marcacao);
    padding: 1em 0;
    position: fixed;
    width: 70%;
    align-items: center;
    margin-left: 15%;
    box-shadow: 0 0 0.5em black;
}
.lista__link a {

    font-size: var(--font-1);
    text-decoration: none;
    color: var(--cor-titulos);
    font-family: var(--font-marcacao);
}
